flows_raspberrypi.json
[{"id":"6676ab5c.5df344","type":"tab","label":"Parameters","disabled":false,"info":""},{"id":"21c6f39f.207cec","type":"tab","label":"Images","disabled":false,"info":""},{"id":"a498e78c.7aea28","type":"tab","label":"Brightness","disabled":false,"info":""},{"id":"86e4a5bf.b983a8","type":"tab","label":"CV","disabled":false,"info":""},{"id":"4947ec55.d3e354","type":"ui_tab","name":"Circle","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"7fbfd4cc.26236c","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Meniscus Distortion Correction","hideToolbar":"false","allowSwipe":"false","lockMenu":"icon","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ad9b5f7a.bef81","type":"mqtt-broker","name":"raspberrypi","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"e8d7934c.56ab","type":"ui_group","name":"Annulus Image","tab":"4947ec55.d3e354","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"a6090556.0a52f8","type":"ui_group","name":"Brightness","tab":"4947ec55.d3e354","order":3,"disp":true,"width":8,"collapse":false,"className":""},{"id":"d47a8c8a.a09c6","type":"ui_group","name":"Images","tab":"4947ec55.d3e354","order":4,"disp":true,"width":"8","collapse":false,"className":""},{"id":"17b0dedb.3470f1","type":"ui_group","name":"Parameters","tab":"4947ec55.d3e354","order":2,"disp":true,"width":"8","collapse":false,"className":""},{"id":"e1ad4250.48639","type":"ui_tab","name":"Computer Vision","icon":"settings","order":3,"disabled":false,"hidden":false},{"id":"8ab7c759.f1d6c8","type":"ui_group","name":"Thresholding","tab":"e1ad4250.48639","order":2,"disp":true,"width":"8","collapse":false,"className":""},{"id":"9f14c248.8b644","type":"ui_group","name":"Corrections","tab":"e1ad4250.48639","order":5,"disp":true,"width":"6","collapse":false,"className":""},{"id":"b274f00b.e9d4d","type":"ui_group","name":"Hough Transform","tab":"e1ad4250.48639","order":4,"disp":true,"width":"8","collapse":false,"className":""},{"id":"61f7b6a7.a7c628","type":"ui_group","name":"Filtering","tab":"e1ad4250.48639","order":3,"disp":true,"width":"8","collapse":false,"className":""},{"id":"39b69ca5.a232c4","type":"ui_group","name":"Raw Image","tab":"e1ad4250.48639","order":1,"disp":true,"width":"8","collapse":false,"className":""},{"id":"53f6f509.464f9c","type":"mqtt out","z":"6676ab5c.5df344","name":"","topic":"parameters/xDiameter","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ad9b5f7a.bef81","x":760,"y":200,"wires":[]},{"id":"909548ba.b66608","type":"mqtt out","z":"6676ab5c.5df344","name":"","topic":"parameters/yDiameter","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ad9b5f7a.bef81","x":760,"y":300,"wires":[]},{"id":"d86d44c8.4d2ac8","type":"mqtt out","z":"6676ab5c.5df344","name":"","topic":"parameters/xCenter","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ad9b5f7a.bef81","x":760,"y":400,"wires":[]},{"id":"34e32afb.dbd426","type":"mqtt out","z":"6676ab5c.5df344","name":"","topic":"parameters/yCenter","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ad9b5f7a.bef81","x":760,"y":500,"wires":[]},{"id":"d820758.ea9ab88","type":"ui_switch","z":"6676ab5c.5df344","name":"","label":"Is Circle (takes smaller radius)?","tooltip":"","group":"17b0dedb.3470f1","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"check","oncolor":"green","offvalue":"false","offvalueType":"bool","officon":"close","offcolor":"red","animate":false,"className":"","x":410,"y":100,"wires":[["56234779.2efb28"]]},{"id":"56234779.2efb28","type":"mqtt out","z":"6676ab5c.5df344","name":"","topic":"parameters/isCircle","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ad9b5f7a.bef81","x":690,"y":100,"wires":[]},{"id":"594b1104.cb87e","type":"mqtt in","z":"6676ab5c.5df344","name":"","topic":"parameters/isCircleSet","qos":"2","datatype":"auto","broker":"ad9b5f7a.bef81","nl":false,"rap":true,"rh":0,"x":140,"y":100,"wires":[["6406ee5c.55fc2"]]},{"id":"191ea197.f8185e","type":"mqtt out","z":"6676ab5c.5df344","name":"","topic":"parameters/thickness","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ad9b5f7a.bef81","x":760,"y":660,"wires":[]},{"id":"40b32e95.2d069","type":"mqtt out","z":"6676ab5c.5df344","name":"","topic":"parameters/modality","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ad9b5f7a.bef81","x":700,"y":740,"wires":[]},{"id":"c65cc21a.4807a","type":"mqtt in","z":"6676ab5c.5df344","name":"","topic":"parameters/xDiameterSet","qos":"2","datatype":"auto","broker":"ad9b5f7a.bef81","nl":false,"rap":true,"rh":0,"x":130,"y":200,"wires":[["e29641e9.a40d"]]},{"id":"a81ae75.bf52618","type":"mqtt in","z":"6676ab5c.5df344","name":"","topic":"parameters/xCenterSet","qos":"2","datatype":"auto","broker":"ad9b5f7a.bef81","nl":false,"rap":true,"rh":0,"x":100,"y":400,"wires":[["e128618d.ec9a5"]]},{"id":"b230a7a1.880ef8","type":"mqtt in","z":"6676ab5c.5df344","name":"","topic":"parameters/yDiameterSet","qos":"2","datatype":"auto","broker":"ad9b5f7a.bef81","nl":false,"rap":true,"rh":0,"x":130,"y":300,"wires":[["5bf73f1d.64d56"]]},{"id":"4ca8392e.1d0188","type":"mqtt in","z":"6676ab5c.5df344","name":"","topic":"parameters/yCenterSet","qos":"2","datatype":"auto","broker":"ad9b5f7a.bef81","nl":false,"rap":true,"rh":0,"x":100,"y":500,"wires":[["505047.2ad20fb8"]]},{"id":"7f221903.f6cf88","type":"mqtt in","z":"6676ab5c.5df344","name":"","topic":"parameters/thicknessSet","qos":"2","datatype":"auto","broker":"ad9b5f7a.bef81","nl":false,"rap":true,"rh":0,"x":150,"y":660,"wires":[["f7e002bc.a5f5c"]]},{"id":"1a9f1e31.e8af12","type":"mqtt in","z":"6676ab5c.5df344","name":"","topic":"parameters/modalitySet","qos":"2","datatype":"auto","broker":"ad9b5f7a.bef81","nl":false,"rap":true,"rh":0,"x":100,"y":740,"wires":[["a90e54ef.afe7b8"]]},{"id":"1663af4b.7325b1","type":"mqtt out","z":"6676ab5c.5df344","name":"","topic":"parameters/isGUIControl","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ad9b5f7a.bef81","x":690,"y":820,"wires":[]},{"id":"a9b9ec1d.3ede6","type":"ui_switch","z":"6676ab5c.5df344","name":"","label":"GUI Override","tooltip":"","group":"17b0dedb.3470f1","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"check","oncolor":"green","offvalue":"false","offvalueType":"bool","officon":"close","offcolor":"red","animate":false,"className":"","x":110,"y":900,"wires":[["1663af4b.7325b1","c89b486f.021768"]]},{"id":"5a2a0dcc.85f8a4","type":"mqtt in","z":"6676ab5c.5df344","name":"","topic":"parameters/isGUIControlSet","qos":"2","datatype":"auto","broker":"ad9b5f7a.bef81","nl":false,"rap":true,"rh":0,"x":140,"y":820,"wires":[["830527e.334eed8"]]},{"id":"6406ee5c.55fc2","type":"change","z":"6676ab5c.5df344","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":20,"wires":[["d820758.ea9ab88"]]},{"id":"830527e.334eed8","type":"change","z":"6676ab5c.5df344","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":860,"wires":[["a9b9ec1d.3ede6"]]},{"id":"3f554357.351c8c","type":"mqtt in","z":"21c6f39f.207cec","name":"","topic":"images/backFocalPlane","qos":"2","datatype":"auto","broker":"ad9b5f7a.bef81","nl":false,"rap":true,"rh":0,"x":300,"y":160,"wires":[["936e58e7.0e1a7"]]},{"id":"936e58e7.0e1a7","type":"base64","z":"21c6f39f.207cec","name":"","action":"","property":"payload","x":480,"y":160,"wires":[["cab8d074.e8ad9"]]},{"id":"f221d617.4c46a","type":"template","z":"21c6f39f.207cec","name":"Image in","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img width=\"100%\" height=\"100%\" src=\"data:image/jpg;base64,{{payload}}\"/>","output":"str","x":760,"y":160,"wires":[["b2f83f0e.fcdb08"]]},{"id":"b2f83f0e.fcdb08","type":"ui_template","z":"21c6f39f.207cec","group":"d47a8c8a.a09c6","name":"camera","order":1,"width":0,"height":0,"format":"<div style=\"aspect-ratio:1/1;\" ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":900,"y":160,"wires":[[]]},{"id":"69a44742.2dbae8","type":"mqtt in","z":"21c6f39f.207cec","name":"","topic":"images/ring","qos":"2","datatype":"auto","broker":"ad9b5f7a.bef81","nl":false,"rap":true,"rh":0,"x":270,"y":600,"wires":[["2d5b3c5f.d83f04"]]},{"id":"2d5b3c5f.d83f04","type":"base64","z":"21c6f39f.207cec","name":"","action":"","property":"payload","x":480,"y":600,"wires":[["b6a4843e.316748"]]},{"id":"264206c6.547d4a","type":"template","z":"21c6f39f.207cec","name":"Image in","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img width=\"100%\" height=\"100%\" src=\"data:image/jpg;base64,{{payload}}\"/>","output":"str","x":760,"y":600,"wires":[["404aaa97.66e064"]]},{"id":"404aaa97.66e064","type":"ui_template","z":"21c6f39f.207cec","group":"e8d7934c.56ab","name":"ringImage","order":1,"width":0,"height":0,"format":"<div style=\"aspect-ratio:16/9;\" ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":900,"y":600,"wires":[[]]},{"id":"411c7ea2.98703","type":"mqtt out","z":"a498e78c.7aea28","name":"","topic":"brightness/isAutomaticBrightness","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ad9b5f7a.bef81","x":680,"y":220,"wires":[]},{"id":"d06b0348.348a","type":"ui_switch","z":"a498e78c.7aea28","name":"","label":"Is Automatic Brightness","tooltip":"","group":"a6090556.0a52f8","order":1,"width":8,"height":1,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"check","oncolor":"green","offvalue":"false","offvalueType":"bool","officon":"close","offcolor":"red","animate":false,"className":"","x":690,"y":120,"wires":[["411c7ea2.98703","82e42992.003bf8"]]},{"id":"b0267042.f263d","type":"mqtt in","z":"a498e78c.7aea28","name":"","topic":"brightness/isAutomaticBrightnessSet","qos":"2","datatype":"auto","broker":"ad9b5f7a.bef81","nl":false,"rap":true,"rh":0,"x":160,"y":120,"wires":[["eeb886d7.b45478"]]},{"id":"354f32aa.cf941e","type":"change","z":"a498e78c.7aea28","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"payload","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":220,"wires":[["887b44c3.8a7ab8"]]},{"id":"eeb886d7.b45478","type":"change","z":"a498e78c.7aea28","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":120,"wires":[["d06b0348.348a"]]},{"id":"fafe823e.51717","type":"mqtt in","z":"a498e78c.7aea28","name":"","topic":"brightness/dutyCycleSet","qos":"2","datatype":"auto","broker":"ad9b5f7a.bef81","nl":false,"rap":true,"rh":0,"x":200,"y":340,"wires":[["887b44c3.8a7ab8"]]},{"id":"b64881c4.0ec28","type":"mqtt out","z":"a498e78c.7aea28","name":"","topic":"brightness/dutyCycle","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ad9b5f7a.bef81","x":680,"y":340,"wires":[]},{"id":"887b44c3.8a7ab8","type":"ui_slider","z":"a498e78c.7aea28","name":"","label":"","tooltip":"","group":"a6090556.0a52f8","order":3,"width":5,"height":1,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"100","step":"1","className":"","x":390,"y":340,"wires":[["b64881c4.0ec28","d4aa6ff4.abd78"]]},{"id":"d4aa6ff4.abd78","type":"ui_text","z":"a498e78c.7aea28","group":"a6090556.0a52f8","order":2,"width":3,"height":1,"name":"","label":"PWM","format":"{{msg.payload}} %","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":630,"y":420,"wires":[]},{"id":"82e42992.003bf8","type":"function","z":"a498e78c.7aea28","name":"","func":"msg.payload = !msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":220,"wires":[["354f32aa.cf941e"]]},{"id":"44eaff6d.82bca","type":"function","z":"21c6f39f.207cec","name":"","func":"msg.payload = flow.get('backFocalPlane');\nmsg.filename = flow.get('bfpPath');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":220,"wires":[["a401811b.a8fae"]]},{"id":"63b2e862.66ff58","type":"ui_button","z":"21c6f39f.207cec","name":"","group":"d47a8c8a.a09c6","order":3,"width":0,"height":0,"passthru":true,"label":"Save","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":250,"y":220,"wires":[["44eaff6d.82bca"]]},{"id":"cab8d074.e8ad9","type":"function","z":"21c6f39f.207cec","name":"","func":"flow.set('backFocalPlane', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":160,"wires":[["f221d617.4c46a"]]},{"id":"a401811b.a8fae","type":"file","z":"21c6f39f.207cec","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"base64","x":680,"y":220,"wires":[[]]},{"id":"add3199f.552058","type":"ui_button","z":"21c6f39f.207cec","name":"","group":"e8d7934c.56ab","order":3,"width":0,"height":0,"passthru":false,"label":"Save","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":250,"y":660,"wires":[["6b3c54a6.03026c"]]},{"id":"6b3c54a6.03026c","type":"function","z":"21c6f39f.207cec","name":"","func":"msg.payload = flow.get('ringImage');\nmsg.filename = flow.get('ringPath');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":660,"wires":[["2e4e57d2.14a4a8"]]},{"id":"2e4e57d2.14a4a8","type":"file","z":"21c6f39f.207cec","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"base64","x":680,"y":660,"wires":[[]]},{"id":"b6a4843e.316748","type":"function","z":"21c6f39f.207cec","name":"","func":"flow.set('ringImage', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":600,"wires":[["264206c6.547d4a"]]},{"id":"2fd72450.cabadc","type":"ui_text_input","z":"21c6f39f.207cec","name":"","label":"/home/mohamed/Master/Shared/images/*bfp.jpg","tooltip":"","group":"d47a8c8a.a09c6","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":"10","topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":380,"y":280,"wires":[["4c517d28.49ae04"]]},{"id":"351cdee5.427c02","type":"ui_text_input","z":"21c6f39f.207cec","name":"","label":"/home/mohamed/Master/Shared/images/ring/","tooltip":"","group":"e8d7934c.56ab","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":"10","topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":370,"y":720,"wires":[["34d20586.d7628a"]]},{"id":"4c517d28.49ae04","type":"function","z":"21c6f39f.207cec","name":"","func":"flow.set('bfpPath', \"/home/mohamed/Master/Shared/images/\" + msg.payload + \"bfp.jpg\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":280,"wires":[[]]},{"id":"34d20586.d7628a","type":"function","z":"21c6f39f.207cec","name":"","func":"flow.set('ringPath', \"/home/mohamed/Master/Shared/images/ring/\" + msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":720,"wires":[[]]},{"id":"e29641e9.a40d","type":"ui_slider","z":"6676ab5c.5df344","name":"xDiameterSlider","label":"","tooltip":"","group":"17b0dedb.3470f1","order":9,"width":5,"height":1,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"100","step":1,"className":"","x":360,"y":200,"wires":[["d22526c4.a3bf98"]]},{"id":"5bf73f1d.64d56","type":"ui_slider","z":"6676ab5c.5df344","name":"yDiameterSlider","label":"","tooltip":"","group":"17b0dedb.3470f1","order":11,"width":5,"height":1,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"100","step":1,"className":"","x":360,"y":300,"wires":[["5cee256e.49f2bc"]]},{"id":"d22526c4.a3bf98","type":"function","z":"6676ab5c.5df344","name":"","func":"msg.payload = msg.payload.toString();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":200,"wires":[["53f6f509.464f9c","129447af.d7ac88"]]},{"id":"5cee256e.49f2bc","type":"function","z":"6676ab5c.5df344","name":"","func":"msg.payload = msg.payload.toString();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":300,"wires":[["909548ba.b66608","82afa443.c8d998"]]},{"id":"e128618d.ec9a5","type":"ui_slider","z":"6676ab5c.5df344","name":"xCenterSlider","label":"","tooltip":"","group":"17b0dedb.3470f1","order":4,"width":5,"height":1,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":"-100","max":"100","step":1,"className":"","x":360,"y":400,"wires":[["1acc1f1c.381b01"]]},{"id":"1acc1f1c.381b01","type":"function","z":"6676ab5c.5df344","name":"","func":"msg.payload = msg.payload.toString();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":400,"wires":[["d86d44c8.4d2ac8","6adc03d2.fd92ac"]]},{"id":"505047.2ad20fb8","type":"ui_slider","z":"6676ab5c.5df344","name":"yCenterSlider","label":"","tooltip":"","group":"17b0dedb.3470f1","order":6,"width":5,"height":1,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":"-100","max":"100","step":1,"className":"","x":360,"y":500,"wires":[["8a90853.449ae78"]]},{"id":"8a90853.449ae78","type":"function","z":"6676ab5c.5df344","name":"","func":"msg.payload = msg.payload.toString();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":500,"wires":[["34e32afb.dbd426","3d5dc3b8.825f8c"]]},{"id":"f7e002bc.a5f5c","type":"ui_text_input","z":"6676ab5c.5df344","name":"","label":"","tooltip":"","group":"17b0dedb.3470f1","order":16,"width":5,"height":1,"passthru":true,"mode":"number","delay":"10","topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":350,"y":660,"wires":[["689745d4.947fec"]]},{"id":"689745d4.947fec","type":"function","z":"6676ab5c.5df344","name":"","func":"if (msg.enabling);\nelse {\n    if (!msg.payload)\n        msg.payload = 0;\n\n    if (msg.payload < 0)\n        msg.payload = -1 * msg.payload;\n        \n    msg.payload = Math.min(msg.payload, 10000);\n    `   `\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":660,"wires":[["79ddb304.f8c43c","191ea197.f8185e"]]},{"id":"79ddb304.f8c43c","type":"ui_text","z":"6676ab5c.5df344","group":"17b0dedb.3470f1","order":15,"width":3,"height":1,"name":"","label":"Thickness:","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":730,"y":700,"wires":[]},{"id":"129447af.d7ac88","type":"ui_text","z":"6676ab5c.5df344","group":"17b0dedb.3470f1","order":8,"width":3,"height":1,"name":"","label":"xDiameter:","format":"{{msg.payload}} %","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":730,"y":240,"wires":[]},{"id":"82afa443.c8d998","type":"ui_text","z":"6676ab5c.5df344","group":"17b0dedb.3470f1","order":10,"width":3,"height":1,"name":"","label":"yDiameter:","format":"{{msg.payload}} %","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":730,"y":340,"wires":[]},{"id":"6adc03d2.fd92ac","type":"ui_text","z":"6676ab5c.5df344","group":"17b0dedb.3470f1","order":3,"width":3,"height":1,"name":"","label":"xCenter:","format":"{{msg.payload}} %","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":720,"y":440,"wires":[]},{"id":"3d5dc3b8.825f8c","type":"ui_text","z":"6676ab5c.5df344","group":"17b0dedb.3470f1","order":5,"width":3,"height":1,"name":"","label":"yCenter:","format":"{{msg.payload}} %","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":720,"y":540,"wires":[]},{"id":"a90e54ef.afe7b8","type":"ui_dropdown","z":"6676ab5c.5df344","name":"","label":"Modality","tooltip":"","place":"","group":"17b0dedb.3470f1","order":14,"width":8,"height":1,"passthru":true,"multiple":false,"options":[{"label":"Phase Contrast","value":"0","type":"str"},{"label":"Brightfield","value":"1","type":"str"},{"label":"Darkfield","value":"2","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":280,"y":740,"wires":[["eaef21ea.5eaf2"]]},{"id":"e25ae052.8e585","type":"function","z":"6676ab5c.5df344","name":"","func":"if (flow.get('modality') == \"0\")\n    msg.enabled = flow.get('isGUIEnabled');\nelse\n    msg.enabled = false;\n\nmsg.enabling = true;\nmsg.payload = undefined;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":700,"wires":[["f7e002bc.a5f5c"]]},{"id":"c89b486f.021768","type":"function","z":"6676ab5c.5df344","name":"","func":"msg.enabled = msg.payload;\nmsg.payload = undefined;\n\nflow.set('isGUIEnabled', msg.enabled);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":130,"y":940,"wires":[["505047.2ad20fb8","e128618d.ec9a5","5bf73f1d.64d56","e29641e9.a40d","d820758.ea9ab88","e25ae052.8e585","556dc253.f8fa7c"]]},{"id":"eaef21ea.5eaf2","type":"function","z":"6676ab5c.5df344","name":"","func":"flow.set('modality', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":740,"wires":[["40b32e95.2d069","e25ae052.8e585"]]},{"id":"fe585497.dcabf8","type":"mqtt in","z":"21c6f39f.207cec","name":"","topic":"images/imagePlane","qos":"2","datatype":"auto","broker":"ad9b5f7a.bef81","nl":false,"rap":true,"rh":0,"x":290,"y":380,"wires":[["f882c170.a076b"]]},{"id":"f882c170.a076b","type":"base64","z":"21c6f39f.207cec","name":"","action":"","property":"payload","x":480,"y":380,"wires":[["e8b7f12d.420e6"]]},{"id":"844e9d05.a3c8c","type":"template","z":"21c6f39f.207cec","name":"Image in","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img width=\"100%\" height=\"100%\" src=\"data:image/jpg;base64,{{payload}}\"/>","output":"str","x":760,"y":380,"wires":[["63f0ca3f.155f44"]]},{"id":"63f0ca3f.155f44","type":"ui_template","z":"21c6f39f.207cec","group":"d47a8c8a.a09c6","name":"camera","order":4,"width":0,"height":0,"format":"<div style=\"aspect-ratio:16/9;\" ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":900,"y":380,"wires":[[]]},{"id":"7312e129.e678c","type":"function","z":"21c6f39f.207cec","name":"","func":"msg.payload = flow.get('imagePlane');\nmsg.filename = flow.get('imagePath');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":440,"wires":[["de34c677.87de68"]]},{"id":"d304c3c.97ae34","type":"ui_button","z":"21c6f39f.207cec","name":"","group":"d47a8c8a.a09c6","order":6,"width":0,"height":0,"passthru":true,"label":"Save","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":250,"y":440,"wires":[["7312e129.e678c"]]},{"id":"e8b7f12d.420e6","type":"function","z":"21c6f39f.207cec","name":"","func":"flow.set('imagePlane', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":380,"wires":[["844e9d05.a3c8c"]]},{"id":"de34c677.87de68","type":"file","z":"21c6f39f.207cec","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"base64","x":680,"y":440,"wires":[[]]},{"id":"97d89543.1f9a38","type":"ui_text_input","z":"21c6f39f.207cec","name":"","label":"/home/mohamed/Master/Shared/images/*img.jpg","tooltip":"","group":"d47a8c8a.a09c6","order":5,"width":0,"height":0,"passthru":true,"mode":"text","delay":"10","topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":390,"y":500,"wires":[["563eec40.4ef8c4"]]},{"id":"563eec40.4ef8c4","type":"function","z":"21c6f39f.207cec","name":"","func":"flow.set('imagePath', \"/home/mohamed/Master/Shared/images/\" + msg.payload + \"img.jpg\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":500,"wires":[[]]},{"id":"1ff7b32f.ceb02d","type":"ui_button","z":"21c6f39f.207cec","name":"","group":"d47a8c8a.a09c6","order":7,"width":0,"height":0,"passthru":false,"label":"Save All","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":60,"y":320,"wires":[["63b2e862.66ff58","d304c3c.97ae34"]]},{"id":"bc71d2e2.66496","type":"mqtt in","z":"86e4a5bf.b983a8","name":"","topic":"cv/thresholdSet","qos":"2","datatype":"auto","broker":"ad9b5f7a.bef81","nl":false,"rap":true,"rh":0,"x":160,"y":20,"wires":[["b0dad616.ee6218"]]},{"id":"7e4c741.f71e08c","type":"mqtt out","z":"86e4a5bf.b983a8","name":"","topic":"cv/threshold","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ad9b5f7a.bef81","x":640,"y":20,"wires":[]},{"id":"b0dad616.ee6218","type":"ui_slider","z":"86e4a5bf.b983a8","name":"","label":"","tooltip":"","group":"8ab7c759.f1d6c8","order":2,"width":5,"height":1,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"255","step":"5","className":"","x":380,"y":20,"wires":[["7e4c741.f71e08c","8167766d.311198"]]},{"id":"8167766d.311198","type":"ui_text","z":"86e4a5bf.b983a8","group":"8ab7c759.f1d6c8","order":1,"width":3,"height":1,"name":"","label":"Threshold","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":620,"y":80,"wires":[]},{"id":"12c12644.e8775a","type":"mqtt in","z":"86e4a5bf.b983a8","name":"","topic":"cv/x-correction","qos":"2","datatype":"auto","broker":"ad9b5f7a.bef81","nl":false,"rap":true,"rh":0,"x":160,"y":360,"wires":[["c89b4ccf.98d53"]]},{"id":"c89b4ccf.98d53","type":"ui_text","z":"86e4a5bf.b983a8","group":"9f14c248.8b644","order":1,"width":0,"height":0,"name":"","label":"x-correction","format":"{{msg.payload}} pixels","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":410,"y":360,"wires":[]},{"id":"3b924087.ea579","type":"mqtt in","z":"86e4a5bf.b983a8","name":"","topic":"cv/y-correction","qos":"2","datatype":"auto","broker":"ad9b5f7a.bef81","nl":false,"rap":true,"rh":0,"x":160,"y":420,"wires":[["273be9ba.ce0f86"]]},{"id":"273be9ba.ce0f86","type":"ui_text","z":"86e4a5bf.b983a8","group":"9f14c248.8b644","order":2,"width":0,"height":0,"name":"","label":"y-correction","format":"{{msg.payload}} pixels","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":410,"y":420,"wires":[]},{"id":"e630d3f5.4cb85","type":"mqtt in","z":"86e4a5bf.b983a8","name":"","topic":"cv/angle-correction","qos":"2","datatype":"auto","broker":"ad9b5f7a.bef81","nl":false,"rap":true,"rh":0,"x":170,"y":480,"wires":[["f002d9d.07eea28"]]},{"id":"f002d9d.07eea28","type":"ui_text","z":"86e4a5bf.b983a8","group":"9f14c248.8b644","order":3,"width":0,"height":0,"name":"","label":"angle-correction","format":"{{msg.payload}} pixels","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":420,"y":480,"wires":[]},{"id":"e0887013.916d5","type":"mqtt in","z":"86e4a5bf.b983a8","name":"","topic":"cv/majRad-correction","qos":"2","datatype":"auto","broker":"ad9b5f7a.bef81","nl":false,"rap":true,"rh":0,"x":180,"y":540,"wires":[["7b80b528.95bdfc"]]},{"id":"7b80b528.95bdfc","type":"ui_text","z":"86e4a5bf.b983a8","group":"9f14c248.8b644","order":4,"width":0,"height":0,"name":"","label":"majRad-correction","format":"{{msg.payload}} pixels","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":430,"y":540,"wires":[]},{"id":"cecec394.287f2","type":"mqtt in","z":"86e4a5bf.b983a8","name":"","topic":"cv/minRad-correction","qos":"2","datatype":"auto","broker":"ad9b5f7a.bef81","nl":false,"rap":true,"rh":0,"x":180,"y":600,"wires":[["be8bb81a.2356d8"]]},{"id":"be8bb81a.2356d8","type":"ui_text","z":"86e4a5bf.b983a8","group":"9f14c248.8b644","order":5,"width":0,"height":0,"name":"","label":"minRad-correction","format":"{{msg.payload}} pixels","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":430,"y":600,"wires":[]},{"id":"4ca9bd09.d724c4","type":"mqtt in","z":"86e4a5bf.b983a8","name":"","topic":"cvimages/threshold","qos":"2","datatype":"auto","broker":"ad9b5f7a.bef81","nl":false,"rap":true,"rh":0,"x":170,"y":960,"wires":[["f4fc8878.0c71e8"]]},{"id":"f4fc8878.0c71e8","type":"base64","z":"86e4a5bf.b983a8","name":"","action":"","property":"payload","x":360,"y":960,"wires":[["47fee22d.f256ac"]]},{"id":"669871be.33994","type":"template","z":"86e4a5bf.b983a8","name":"Image in","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img width=\"100%\" height=\"100%\" src=\"data:image/jpg;base64,{{payload}}\"/>","output":"str","x":640,"y":960,"wires":[["c3cd6aa3.8fe728"]]},{"id":"c3cd6aa3.8fe728","type":"ui_template","z":"86e4a5bf.b983a8","group":"8ab7c759.f1d6c8","name":"cvThreshold","order":5,"width":0,"height":0,"format":"<div style=\"aspect-ratio:1/1;width:100%;\" ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":790,"y":960,"wires":[[]]},{"id":"15ee0762.60afb9","type":"function","z":"86e4a5bf.b983a8","name":"","func":"msg.payload = flow.get('cvThreshold');\nmsg.filename = flow.get('cvThresholdPath');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":1020,"wires":[["efc97bd9.853578"]]},{"id":"448de726.1935f8","type":"ui_button","z":"86e4a5bf.b983a8","name":"","group":"8ab7c759.f1d6c8","order":7,"width":0,"height":0,"passthru":true,"label":"Save","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":130,"y":1020,"wires":[["15ee0762.60afb9"]]},{"id":"47fee22d.f256ac","type":"function","z":"86e4a5bf.b983a8","name":"","func":"flow.set('cvThreshold', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":960,"wires":[["669871be.33994"]]},{"id":"efc97bd9.853578","type":"file","z":"86e4a5bf.b983a8","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"base64","x":560,"y":1020,"wires":[[]]},{"id":"ac920209.9f0db","type":"ui_text_input","z":"86e4a5bf.b983a8","name":"","label":"/home/mohamed/Master/Shared/images/*.jpg","tooltip":"","group":"8ab7c759.f1d6c8","order":6,"width":0,"height":0,"passthru":true,"mode":"text","delay":"10","topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":250,"y":1080,"wires":[["cc52fd1e.46f79"]]},{"id":"cc52fd1e.46f79","type":"function","z":"86e4a5bf.b983a8","name":"","func":"flow.set('cvThresholdPath', \"/home/mohamed/Master/Shared/images/\" + msg.payload + \".jpg\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":1080,"wires":[[]]},{"id":"b3f3b9ce.0fe7e8","type":"mqtt in","z":"86e4a5bf.b983a8","name":"","topic":"cvimages/hough","qos":"2","datatype":"auto","broker":"ad9b5f7a.bef81","nl":false,"rap":true,"rh":0,"x":160,"y":1200,"wires":[["b5f0f8b4.f75848"]]},{"id":"b5f0f8b4.f75848","type":"base64","z":"86e4a5bf.b983a8","name":"","action":"","property":"payload","x":360,"y":1200,"wires":[["4cca56eb.605108"]]},{"id":"a9f20160.38941","type":"template","z":"86e4a5bf.b983a8","name":"Image in","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img width=\"100%\" height=\"100%\" src=\"data:image/jpg;base64,{{payload}}\"/>","output":"str","x":640,"y":1200,"wires":[["3520e053.0f0e4"]]},{"id":"3520e053.0f0e4","type":"ui_template","z":"86e4a5bf.b983a8","group":"b274f00b.e9d4d","name":"hough","order":1,"width":0,"height":0,"format":"<div style=\"aspect-ratio:1/1;\" ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":770,"y":1200,"wires":[[]]},{"id":"56203d96.8f05b4","type":"function","z":"86e4a5bf.b983a8","name":"","func":"msg.payload = flow.get('hough');\nmsg.filename = flow.get('houghPath');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":1260,"wires":[["6b6bfa90.cf2394"]]},{"id":"6fbcfa1a.086f94","type":"ui_button","z":"86e4a5bf.b983a8","name":"","group":"b274f00b.e9d4d","order":3,"width":0,"height":0,"passthru":true,"label":"Save","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":130,"y":1260,"wires":[["56203d96.8f05b4"]]},{"id":"4cca56eb.605108","type":"function","z":"86e4a5bf.b983a8","name":"","func":"flow.set('hough', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":1200,"wires":[["a9f20160.38941"]]},{"id":"6b6bfa90.cf2394","type":"file","z":"86e4a5bf.b983a8","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"base64","x":560,"y":1260,"wires":[[]]},{"id":"78a5a6be.8f8c68","type":"ui_text_input","z":"86e4a5bf.b983a8","name":"","label":"/home/mohamed/Master/Shared/images/*.jpg","tooltip":"","group":"b274f00b.e9d4d","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":"10","topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":250,"y":1320,"wires":[["171d0a0a.8fa2a6"]]},{"id":"171d0a0a.8fa2a6","type":"function","z":"86e4a5bf.b983a8","name":"","func":"flow.set('houghPath', \"/home/mohamed/Master/Shared/images/\" + msg.payload + \".jpg\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":1320,"wires":[[]]},{"id":"7b5e6c99.26c054","type":"mqtt in","z":"86e4a5bf.b983a8","name":"","topic":"cv/noiseKernelSet","qos":"2","datatype":"auto","broker":"ad9b5f7a.bef81","nl":false,"rap":true,"rh":0,"x":170,"y":240,"wires":[["4177116.3f3d3f"]]},{"id":"f5e8f0b1.c4e8e","type":"mqtt out","z":"86e4a5bf.b983a8","name":"","topic":"cv/noiseKernel","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ad9b5f7a.bef81","x":650,"y":240,"wires":[]},{"id":"4177116.3f3d3f","type":"ui_slider","z":"86e4a5bf.b983a8","name":"","label":"","tooltip":"","group":"61f7b6a7.a7c628","order":2,"width":5,"height":1,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":"1","max":"200","step":"5","className":"","x":330,"y":240,"wires":[["d3667de0.66b79"]]},{"id":"5502834a.a5f19c","type":"ui_text","z":"86e4a5bf.b983a8","group":"61f7b6a7.a7c628","order":1,"width":3,"height":1,"name":"","label":"Noise Kernel","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":640,"y":320,"wires":[]},{"id":"b50a0893.227fc8","type":"mqtt in","z":"86e4a5bf.b983a8","name":"","topic":"cvimages/filtered","qos":"2","datatype":"auto","broker":"ad9b5f7a.bef81","nl":false,"rap":true,"rh":0,"x":160,"y":720,"wires":[["357d53f8.c756ac"]]},{"id":"357d53f8.c756ac","type":"base64","z":"86e4a5bf.b983a8","name":"","action":"","property":"payload","x":360,"y":720,"wires":[["86ee3b74.3a38d8"]]},{"id":"1dbacb3c.7de605","type":"template","z":"86e4a5bf.b983a8","name":"Image in","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img width=\"100%\" height=\"100%\" src=\"data:image/jpg;base64,{{payload}}\"/>","output":"str","x":640,"y":720,"wires":[["e1640593.65ae68"]]},{"id":"e1640593.65ae68","type":"ui_template","z":"86e4a5bf.b983a8","group":"61f7b6a7.a7c628","name":"cvFiltering","order":3,"width":0,"height":0,"format":"<div style=\"aspect-ratio:1/1;width:100%;\" ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":790,"y":720,"wires":[[]]},{"id":"8848d6e9.a48348","type":"function","z":"86e4a5bf.b983a8","name":"","func":"msg.payload = flow.get('cvFiltered');\nmsg.filename = flow.get('cvFilteredPath');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":780,"wires":[["35351e0a.058342"]]},{"id":"b74661bd.1dc68","type":"ui_button","z":"86e4a5bf.b983a8","name":"","group":"61f7b6a7.a7c628","order":5,"width":0,"height":0,"passthru":true,"label":"Save","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":130,"y":780,"wires":[["8848d6e9.a48348"]]},{"id":"86ee3b74.3a38d8","type":"function","z":"86e4a5bf.b983a8","name":"","func":"flow.set('cvFiltered', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":720,"wires":[["1dbacb3c.7de605"]]},{"id":"35351e0a.058342","type":"file","z":"86e4a5bf.b983a8","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"base64","x":560,"y":780,"wires":[[]]},{"id":"80dab666.82bb38","type":"ui_text_input","z":"86e4a5bf.b983a8","name":"","label":"/home/mohamed/Master/Shared/images/*.jpg","tooltip":"","group":"61f7b6a7.a7c628","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":"10","topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":250,"y":840,"wires":[["f6f09c86.47ebd"]]},{"id":"f6f09c86.47ebd","type":"function","z":"86e4a5bf.b983a8","name":"","func":"flow.set('cvFilteredPath', \"/home/mohamed/Master/Shared/images/\" + msg.payload + \".jpg\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":840,"wires":[[]]},{"id":"2e9f8c9.66d1c74","type":"ui_button","z":"86e4a5bf.b983a8","name":"","group":"9f14c248.8b644","order":5,"width":0,"height":0,"passthru":true,"label":"Save All Images","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":100,"y":900,"wires":[["448de726.1935f8","6fbcfa1a.086f94","b74661bd.1dc68","6cc4f499.1b1c2c"]]},{"id":"81c21e6e.efd1c","type":"ui_text","z":"86e4a5bf.b983a8","group":"8ab7c759.f1d6c8","order":3,"width":3,"height":1,"name":"","label":"Box Size","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":640,"y":180,"wires":[]},{"id":"f3fb5e19.2ffe2","type":"ui_slider","z":"86e4a5bf.b983a8","name":"","label":"","tooltip":"","group":"8ab7c759.f1d6c8","order":4,"width":5,"height":1,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":"3","max":"49","step":"2","className":"","x":330,"y":120,"wires":[["2d3e9116.ae44ae"]]},{"id":"415b7267.82baec","type":"mqtt in","z":"86e4a5bf.b983a8","name":"","topic":"cv/adaptiveSizeSet","qos":"2","datatype":"auto","broker":"ad9b5f7a.bef81","nl":false,"rap":true,"rh":0,"x":170,"y":120,"wires":[["f3fb5e19.2ffe2"]]},{"id":"7d2366.ba2f8c9c","type":"mqtt out","z":"86e4a5bf.b983a8","name":"","topic":"cv/adaptiveSize","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ad9b5f7a.bef81","x":660,"y":120,"wires":[]},{"id":"d3667de0.66b79","type":"function","z":"86e4a5bf.b983a8","name":"","func":"msg.payload = ((msg.payload % 2) == 0) ? msg.payload - 1 : msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":240,"wires":[["f5e8f0b1.c4e8e","5502834a.a5f19c"]]},{"id":"2d3e9116.ae44ae","type":"function","z":"86e4a5bf.b983a8","name":"","func":"msg.payload = ((msg.payload % 2) == 0) ? msg.payload - 1 : msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":120,"wires":[["7d2366.ba2f8c9c","81c21e6e.efd1c"]]},{"id":"213c05c9.62b93a","type":"mqtt in","z":"86e4a5bf.b983a8","name":"","topic":"images/backFocalPlane","qos":"2","datatype":"auto","broker":"ad9b5f7a.bef81","nl":false,"rap":true,"rh":0,"x":180,"y":1420,"wires":[["7d811ca5.cadce4"]]},{"id":"7d811ca5.cadce4","type":"base64","z":"86e4a5bf.b983a8","name":"","action":"","property":"payload","x":360,"y":1420,"wires":[["a7a831f7.360a1"]]},{"id":"543e0a11.b23c64","type":"template","z":"86e4a5bf.b983a8","name":"Image in","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img width=\"100%\" height=\"100%\" src=\"data:image/jpg;base64,{{payload}}\"/>","output":"str","x":640,"y":1420,"wires":[["72208eb7.ccf9"]]},{"id":"72208eb7.ccf9","type":"ui_template","z":"86e4a5bf.b983a8","group":"39b69ca5.a232c4","name":"bfp","order":1,"width":0,"height":0,"format":"<div style=\"aspect-ratio:1/1;\" ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":770,"y":1420,"wires":[[]]},{"id":"52a79aea.1f7314","type":"function","z":"86e4a5bf.b983a8","name":"","func":"msg.payload = flow.get('bfp');\nmsg.filename = flow.get('bfpPath');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":1480,"wires":[["3cff3888.bcb9b8"]]},{"id":"6cc4f499.1b1c2c","type":"ui_button","z":"86e4a5bf.b983a8","name":"","group":"39b69ca5.a232c4","order":3,"width":0,"height":0,"passthru":true,"label":"Save","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":130,"y":1480,"wires":[["52a79aea.1f7314"]]},{"id":"a7a831f7.360a1","type":"function","z":"86e4a5bf.b983a8","name":"","func":"flow.set('bfp', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":1420,"wires":[["543e0a11.b23c64"]]},{"id":"3cff3888.bcb9b8","type":"file","z":"86e4a5bf.b983a8","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"base64","x":560,"y":1480,"wires":[[]]},{"id":"639113f2.291d2c","type":"ui_text_input","z":"86e4a5bf.b983a8","name":"","label":"/home/mohamed/Master/Shared/images/*.jpg","tooltip":"","group":"39b69ca5.a232c4","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":"10","topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":250,"y":1540,"wires":[["91ce1b9d.ae7068"]]},{"id":"91ce1b9d.ae7068","type":"function","z":"86e4a5bf.b983a8","name":"","func":"flow.set('bfpPath', \"/home/mohamed/Master/Shared/images/\" + msg.payload + \".jpg\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":1540,"wires":[[]]},{"id":"768e7214.57d5ec","type":"mqtt out","z":"6676ab5c.5df344","name":"","topic":"parameters/angle","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ad9b5f7a.bef81","x":750,"y":580,"wires":[]},{"id":"a44ba07.0a56f6","type":"mqtt in","z":"6676ab5c.5df344","name":"","topic":"parameters/angleSet","qos":"2","datatype":"auto","broker":"ad9b5f7a.bef81","nl":false,"rap":true,"rh":0,"x":90,"y":580,"wires":[["556dc253.f8fa7c"]]},{"id":"556dc253.f8fa7c","type":"ui_slider","z":"6676ab5c.5df344","name":"angleSlider","label":"","tooltip":"","group":"17b0dedb.3470f1","order":13,"width":5,"height":1,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":"0","max":"360","step":"5","className":"","x":350,"y":580,"wires":[["fa31e34a.37375"]]},{"id":"fa31e34a.37375","type":"function","z":"6676ab5c.5df344","name":"","func":"msg.payload = msg.payload.toString();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":580,"wires":[["768e7214.57d5ec","b9ee282d.aacf18"]]},{"id":"b9ee282d.aacf18","type":"ui_text","z":"6676ab5c.5df344","group":"17b0dedb.3470f1","order":12,"width":3,"height":1,"name":"","label":"angle:","format":"{{msg.payload}}°","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":710,"y":620,"wires":[]},{"id":"db58115f.6fdf9","type":"ui_switch","z":"6676ab5c.5df344","name":"","label":"Pause Rendering","tooltip":"","group":"17b0dedb.3470f1","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-play","oncolor":"white","offvalue":"false","offvalueType":"bool","officon":"fa-pause","offcolor":"white","animate":false,"className":"","x":410,"y":1040,"wires":[["2474f98d.2e1766"]]},{"id":"2474f98d.2e1766","type":"mqtt out","z":"6676ab5c.5df344","name":"","topic":"cv/isPauseRendering","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ad9b5f7a.bef81","x":700,"y":1040,"wires":[]},{"id":"bb7f4688.ec2438","type":"mqtt in","z":"6676ab5c.5df344","name":"","topic":"cv/isPauseRenderingSet","qos":"2","datatype":"auto","broker":"ad9b5f7a.bef81","nl":false,"rap":true,"rh":0,"x":130,"y":1040,"wires":[["a28ee47b.679ab8"]]},{"id":"a28ee47b.679ab8","type":"change","z":"6676ab5c.5df344","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":960,"wires":[["db58115f.6fdf9"]]}]